    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    /* Optional: Makes the sample page fill the window. */
    
    html,
    body,
    .container {
        height: 100%;
        width: 100%;
    }

body { 
  padding-top: 50px; 
  padding-bottom: 50px; 
}


#map {
  width:100%;
    height: 100%;
  height:calc(100% - 0px);
}

#map-container, #main-content{
    height: 100%;

}