
    
    html,
    body,
    .container {
        height: 100%;
        width: 100%;
    }
    
    body {
        padding-top: 50px;
        /* padding-bottom: 50px; */
    }
    
    #map {
        width: 100%;
        height: calc(100% - 0px);
    }
    
    #map-container,
    #main-content,
    .affix-map {
        height: 100%;
    }
    
    footer {
        background-color: #eeeeee;
    }
    
    #restaurants-list {
        height: calc(100% - 0px);
        overflow-y: scroll;
    }
